@font-face {
    font-family: "Nunito-Regular";
    src: url("../fonts/Nunito-Regular.ttf") format("truetype");
}

body {
    font-family: "Nunito-Regular", sans-serif !important;
}

.avatar-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1; /* membuat kotak persegi otomatis */
}
